<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>
</head>
<body class="container">
<h3>View Category</h3>
<hr/>
<br/>
<form th:action="@{/category/add}" method="post" th:object="${category}">
    <button type="submit" class="btn btn-success">ADD</button>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">CODE:</label>
            <input name="code" type="text" th:field="*{code}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">NAME:</label>
            <input name="name" type="text" th:field="*{name}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">STATUS:</label>
            <input name="status" type="radio" th:field="*{status}" value="0"/>Con Hang
            <input name="status" type="radio" th:field="*{status}" value="1"/>Het Hang
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-3 col-form-label">COLOR:</label>
            <select name="color" aria-label="Default select example">
                <!--                <option>Moi chon Manufacturer</option>-->
                <option th:each="color : ${colors}" th:value="${color.id}"
                        th:text="${color.name}"
                        th:selected="${color.id == selectedColor}"
                ></option>
            </select>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-3 col-form-label">CAPACITY:</label>
            <select name="capacity" aria-label="Default select example">
                <!--                <option>Moi chon Manufacturer</option>-->
                <option th:each="capacity : ${capacitys}" th:value="${capacity.id}"
                        th:text="${capacity.name}"
                        th:selected="${capacity.id == selectedCapacity}"
                ></option>
            </select>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-3 col-form-label">PRODUCTLINE:</label>
            <select name="productLine" aria-label="Default select example">
                <!--                <option>Moi chon Manufacturer</option>-->
                <option th:each="productLine : ${productLines}" th:value="${productLine.id}"
                        th:text="${productLine.name}"
                        th:selected="${productLine.id == selectedProductLine}"
                ></option>
            </select>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">CODE</th>
        <th scope="col">NAME</th>
        <th scope="col">STATUS</th>
        <th scope="col">COLOR</th>
        <th scope="col">CAPACITY</th>
        <th scope="col">PRODUCT LINE</th>
        <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="category : ${categorys}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.code}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.status==0?'Con Hang': 'Het Hang'}"></td>
        <td th:text="${category.color.name}"></td>
        <td th:text="${category.capacity.name}"></td>
        <td th:text="${category.productLine.name}"></td>
        <td>
            <div class="form-group row">
                <div class="col-sm-4">
                    <a th:href="@{/category/view-update/{id}(id=${category.id})}"
                       class="btn btn-warning">Update</a>
                </div>
                <div class="col-sm-4">
                    <a th:href="@{/category/edit/{id}(id=${category.id})}" class="btn btn-info">Edit</a>
                </div>
                <div class="col-sm-4">
                    <a th:href="@{/category/remove/{id}(id=${category.id})}" class="btn btn-danger">Remove</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>