<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"/>
</head>
<body class="container">
<h3>View Customer</h3>
<hr/>
<a th:href="@{/customer/hien-thi}" class="btn btn-warning">Back</a>

<br/>
<form th:action="@{/customer/update}" method="post" th:object="${customer}">
    <div class="form-group row">
        <div class="col-sm-6">
<!--            <label class="col-sm-2 col-form-label">CODE:</label>-->
            <input name="id" type="text" th:field="*{id}" hidden/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">CODE:</label>
            <input name="code" type="text" th:field="*{code}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">NAME:</label>
            <input name="fullName" type="text" th:field="*{fullName}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">GENDER:</label>
            <input name="gender" type="radio" th:field="*{gender}" value="0"/>NAM
            <input name="gender" type="radio" th:field="*{gender}" value="1"/>NU
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">PHONE NUMBER:</label>
            <input name="phoneNumber" type="text" th:field="*{phoneNumber}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label class="col-sm-2 col-form-label">ADRRESS:</label>
            <input name="adrress" type="text" th:field="*{adrress}"/>
            <!--            <span th:errors="*{name}"></span>-->
        </div>
    </div>
    <button type="submit" class="btn btn-success">UPDATE</button>
</form>
</body>
</html>